In [1]:
import numpy as np
# import matplotlib.pyplot as plt
import pandas as pd
import sklearn 
import re

In [2]:
dataset = pd.read_csv('train.csv')

In [3]:
dataset.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
dataset['text'][68]

'Accident on I-24 W #NashvilleTraffic. Traffic moving 8m slower than usual. https://t.co/0GHk693EgJ'

#### Checking a missing values

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

#### Dropping Id

In [6]:
dataset = dataset.drop(['id'], axis=1)

In [7]:
dataset.head()

  keyword location                                               text  target
0     NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
1     NaN      NaN             Forest fire near La Ronge Sask. Canada       1
2     NaN      NaN  All residents asked to 'shelter in place' are ...       1
3     NaN      NaN  13,000 people receive #wildfires evacuation or...       1
4     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [8]:
dataset['text']

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
                              ...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [9]:
dataset['text'] = dataset['text'].apply(lambda x:x.lower())

In [10]:
dataset['text']

0       our deeds are the reason of this #earthquake m...
1                  forest fire near la ronge sask. canada
2       all residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       just got sent this photo from ruby #alaska as ...
                              ...
7608    two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @thetawniest the out of control w...
7610    m1.94 [01:04 utc]?5km s of volcano hawaii. htt...
7611    police investigating after an e-bike collided ...
7612    the latest: more homes razed by northern calif...
Name: text, Length: 7613, dtype: object

In [11]:
def remove_URL(sample):
    return re.sub(r"http\S+", '', sample)
def remove_punc(sample):
    return re.sub(r'[^\w\s]', '', sample)

In [12]:
dataset['text'] = dataset['text'].apply(lambda text: remove_URL(text))
dataset['text'] = dataset['text'].apply(lambda text: remove_punc(text))

In [13]:
dataset

,keyword,location,text,target
0,NaN,NaN,our deeds are the reason of this earthquake ma...,1
1,NaN,NaN,forest fire near la ronge sask canada,1
2,NaN,NaN,all residents asked to shelter in place are be...,1
3,NaN,NaN,13000 people receive wildfires evacuation orde...,1
4,NaN,NaN,just got sent this photo from ruby alaska as s...,1
...,...,...,...,...
7608,NaN,NaN,two giant cranes holding a bridge collapse int...,1
7609,NaN,NaN,aria_ahrary thetawniest the out of control wil...,1
7610,NaN,NaN,m194 0104 utc5km s of volcano hawaii,1
7611,NaN,NaN,police investigating after an ebike collided w...,1
7612,NaN,NaN,the latest more homes razed by northern califo...,1

In [14]:
dataset['text'][0]

'our deeds are the reason of this earthquake may allah forgive us all'

In [15]:
import contractions
dataset['text'] = dataset['text'].apply(lambda text: [contractions.fix(word) for word in text.split()])
dataset['text'] = pd.DataFrame(dataset['text'], columns=["text"])

In [18]:
# from nltk.corpus import stopwords
# import nltk
# nltk.download('stopwords')
# stop_word = stopwords.words('english')
# dataset['text'] = dataset['text'].apply(lambda x: [item for item in x if item not in stop_word])

In [19]:
dataset['text']

0       [deeds, reason, earthquake, may, allah, forgiv...
1           [forest, fire, near, la, ronge, sask, canada]
2       [residents, asked, shelter, place, notified, o...
3       [13000, people, receive, wildfires, evacuation...
4       [got, sent, photo, ruby, alaska, smoke, wildfi...
                              ...
7608    [two, giant, cranes, holding, bridge, collapse...
7609    [aria_ahrary, thetawniest, control, wild, fire...
7610                [m194, 0104, utc5km, volcano, hawaii]
7611    [police, investigating, ebike, collided, car, ...
7612    [latest, homes, razed, northern, california, w...
Name: text, Length: 7613, dtype: object

In [ ]:
# from nltk.corpus import stopwords 
# stop_word = stopwords.words('english')
# dataset['text'] = dataset['text'].str.lower().str.split()
# dataset['text'] = dataset['text'].apply(lambda x: [item for item in x if item not in stop_word])

In [ ]:
# dataset['text'].str.lower().str.split()

In [ ]:
# dataset['text'].to_csv('file_name.csv')

In [ ]:
# stop_word.append('may', 'us', 'im', 'haha', 'hah', 'fvck', 'ive', 'whats', 'cant', 'nyc', 'theyve', 'youre', 'cant',)

In [ ]:
# import nltk
# from nltk.tokenize import word_tokenize
# def tokenize(sample):
#     return word_tokenize(sample)

In [ ]:
# stop_word.append("may")